@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070707;
  --foreground: #ffffff;
}

body {
  background: #070707;
  font-family: var(--font-poppins), sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
